<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}" />
</head>
<body>
    <header>
        <h1>404</h1>
    </header>
    <div id="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        <article>
            <h2>页面出错了或者资源失效了</h2>
            <p><b>您可以去首页登录进行评论，我们会尽快处理该问题</b></p>
            <p><b>或者你还可以刷新该页面，有可能是资源加载问题</b></p>
        </article>
    </div>
    <footer>
        <p>&copy; 2017 fuzzier</p>
    </footer>
</body>
</html>